* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav { background-color: black;
	  text-align: center;
}

body {
	background-color: yellow;
	text-align: center;
	width: 80%;
}



a




/* Navigation Styles  */



	nav ul {list-style: none;

	}
	nav li {
		display:inline;
	}
	nav a {
	    display: inline-block;
	    padding: 20px;
	    text-decoration: none;
	    color: white;
	}
nav a:hover {
	background-color: white;
	color: black;

}
