* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body 
  


a




/* Navigation Styles  */

nav { background-color: black;
	  text-align: center;

}
	nav ul {list-style: none;

	}
	nav li {
		display:inline;
	}
	nav a {
	    display: inline-block;
	    padding: 20px;
	    text-decoration: none;
	    color: white;
	}
nav a:hover {
	background-color: white;
	color: black;

}
