.site{
			width: 90%;
			margin: 0 auto;
			
			background-size:cover; 
			background: url(images/scott-major-1384070-unsplash.jpg) repeat center center fixed;
			color: white;
			background-color: black;
			font-family: 'Raleway', sans-serif;

		}


header{font-family: 'Dokdo', cursive;
	
	font-size: 50px;
	text-align: center;
}
.quote
	{
		 font-family: 'Dokdo', cursive;
			max-width: 70%;
			font-size: 30px;
			text-shadow: 5px 5px 8px black;
		}

		@media only screen and (min-width: 600px){
           .quote{
             max-width: 80%;
			font-size: 60px;
           } 	
	 }		
		figcaption{
			font-family: 'Dokdo', cursive;
			font-size: 20px;
			text-align: right;
		}
			
.forimage img{
	display: block;
	width: 100%;
	height: auto;

}
.forimage2 img{
	display: block;
	width: 100%;
	height: auto;

}
.text{
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}
@media only screen and (min-width: 600px){
           .forimage{
             max-width: 80%;
			
           } 	



footer{
	width: 90%;
 height: 150px;
 padding: 14px 16px;
 background-size:cover; 
 background: url(images/scott-major-1384070-unsplash.jpg) repeat fixed;
 clear:both;
 text-align: center;
 font-size: 15px;
 margin-top:0;
}












 /*@media only screen and (min-width: 800px)	body{
	 		background-color: yellow;

	 	}
	 }

	 
			 nav{
			text-align: center;
			background-color: #0C0A3E;
		}

	ul{
				list-style: none;
			}

	li{
				display: inline;
			}

		a{
				display: inline-block;
				padding: 20px;
				color: white;
			}

			a:hover{
				background-color: #B4436C;
				color: #0C0A3E;
			}
*/