	body{
			width: 90%;
			margin: 0 auto;
			
			background-size:cover; 
			background: url(images/scott-major-1384070-unsplash.jpg) repeat center center fixed;
			color: white;
			background-color: black;
			font-family: 'Reenie Beanie', cursive; }




		figure{

			font-family: 'Amatic SC', cursive;
			max-width: 70%;
			font-size: 45px;
			text-shadow: 5px 5px 8px black;

		}
		@media only screen and (min-width: 600px){
           figure{
             max-width: 80%;
			font-size: 80px;
           } 	
	 }		
		figcaption{
			font-family: 'Calligraffitti', cursive;
			
			font-size: 20px;
			text-align: right;
		}
			
.forimage img{
	display: block;
	width: 100%;
	height: auto;
}
section{
	font-size: 30px;
	width:50%;
	margin: 0 auto;

}
.quote{font-family: 'Amatic SC', cursive;
			max-width: 70%;
			font-size: 35px;
			text-shadow: 5px 5px 8px black;

		}
		@media only screen and (min-width: 600px){
           .quote{
             max-width: 80%;
			font-size: 60px;
           } 	

}
footer{
 height: 150px;
 background-size:cover; 
 background: url(images/scott-major-1384070-unsplash.jpg) repeat fixed;
 clear:both;
 text-align: center;
 font-size: 30px;
 margin-top:0;
}













 /*@media only screen and (min-width: 800px)	body{
	 		background-color: yellow;

	 	}
	 }

	 
			 nav{
			text-align: center;
			background-color: #0C0A3E;
		}

	ul{
				list-style: none;
			}

	li{
				display: inline;
			}

		a{
				display: inline-block;
				padding: 20px;
				color: white;
			}

			a:hover{
				background-color: #B4436C;
				color: #0C0A3E;
			}
*/